body {
    font-family: 'Trocchi', serif;
    font-size: 20px;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Impedisce che il contenuto lungo espanda il layout */
}
.menu {
    flex: 0 0 200px; /* Fissa la larghezza del menu a 200px */
    background-color: #375966;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Scroll verticale per il menu */
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    background-color: #6A7B76;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu a:hover {
    background-color: #446f80;
}
.content {
    flex-grow: 1; /* Espandi per occupare lo spazio disponibile */
    padding: 20px;
    background-color: #012e40;
    color: whitesmoke;
    overflow-y: auto; /* Scroll verticale per contenuti lunghi */
}
audio {
    width: 100%; /* Rende il player audio largo quanto il contenitore */
    margin-top: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .home-button {
    display: flex;
    align-items: center;
}

header h1.Titolo {
    flex: 1;
    text-align: center;
    color: white;
    margin: 0;
}

@media (max-width: 1200px) {
    header {
        padding: 10px 0;
        /* Riduce il padding per risparmiare spazio */
    }

    header h1 {
        font-size: 1.5rem;
        /* Riduce la dimensione del font su schermi più piccoli */
    }

    #search-container {
        position: static;
        /* O 'relative' a seconda delle tue esigenze */
        margin-top: 10px;
        /* Aggiunge spazio sopra il form di ricerca */
        width: 100%;
        /* Fa occupare al form l'intera larghezza */
        box-sizing: border-box;
        /* Assicura che il padding non influisca sulla larghezza */
    }

    #search-form {
        flex-direction: column;
        /* Impila input e bottone verticalmente */
        align-items: stretch;
        /* Allarga il bottone e l'input per occupare tutto lo spazio orizzontale */
    }

    #search-input,
    #search-form button {
        width: auto;
        /* Permette ai figli di espandersi */
        margin: 5px;
        /* Riduce il margine */
    }

    .button-container {
        justify-content: center;
        /* Centra i bottoni se lo spazio è ridotto */
        flex-wrap: wrap;
        /* Permette ai bottoni di andare a capo */
    }

    .button {
        width: 100px;
        /* Riduce la dimensione dei bottoni */
        height: 100px;
        /* Riduce la dimensione dei bottoni */
        margin: 5px;
        /* Riduce lo spazio intorno ai bottoni */
    }
}

.custom-color-link {
    color: white;
}