html,
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    -ms-overflow-style: none;
    /*scrollbar-width: none;*/
}

html {
    overflow: hidden;
    background-color: rgb(245, 240, 234);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.parallax {
    width: 100%;
    height: 100%;
    position: relative;
}


h1, h3 {
    width: 100%;
    font-family: "Arial";
    font-size: 200%;
    text-align: center;
    align-items: center;
    color: #333;
    background-color: rgba(0, 0, 0, 0);
}


div.content-outer {
    width: 100%;	
    background-color:rgb(0, 0, 0, 0.2);
    perspective: 2px;
    -webkit-perspective: 2px;
}

div.content-inner {
    background-color: white;
    width: 60%;
    font-family: "Arial";
    font-size: 13pt;
    color: #333;
    font-size: 1.5em;
    line-height: 2em;
    margin: 0px auto;
    display: block;
    -moz-box-shadow: 0 0 25px #333333;
    -webkit-box-shadow: 0 0 25px #333333;
    box-shadow: 0 0 10vw rgba(0, 0, 0, 1);
    padding-bottom: 1vh;
    padding-top: 1vh;
}

p.paragraph{
    padding: 10%;
}

div.shadow {
    -moz-box-shadow: 0 0 25px #333333;
    -webkit-box-shadow: 0 0 25px #333333;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

h3.paragraphTitle {
    padding-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    line-height: 1em;
    font-size: 3em;
    font-weight: bold;
    color: #222;
}

h4.listConcept {
    font-weight: bold;
    margin: 1em 0em;
}

div.paragraph {
    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 5vw;
    margin-right: 5vw;
}

div.footer {
    position: sticky;
    bottom: -0.5vh;
    left: 0;
    height: 9.5vh;
    width: 100vw;
    background-color: #222;
    border-top: 1px solid #999;
}

div.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    box-sizing: border-box;
    background-color: #eee;
    border-bottom: 2px solid #d8d8d8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-sizing: border-box;
    z-index: 10;
}

.header-links{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: left;
}

.header-others{
    width: 30%;
    height: 100%;
    float: left;
}

.header-element{
    width: 10%;
    display: flex;
    text-decoration: none;
}

.header-button{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1px;
    color: #333;
    font-weight: bold;
}

.header-button:hover{
    background-color: #ddd;
}

.footer{
    background-color:#375966  ; 
    margin-bottom: 0vh;
}


p.footerParagraph{
    text-align: center;
    width: 100%;
    position: fixed; 
         margin-bottom: 0vh;

}

a.footerLink{
    color: #e4e4e4;
}

@media (max-width: 1200px) {
    h1 {
        width: 88%;
        font-size: 40pt;
        padding: 10vh 20px;
        float: none;
    }
    p {
        color: #333;
    }
    ul {
        margin-left: 20px;
        margin-right: 20px;
    }
    div.content-inner {
        width: 80%;
        text-align: justify;
        padding: 20px 0px;
        font-size: large;
        line-height: normal;
    }
    h3.paragraphTitle {
        padding-top: 5vh;
        margin-left: 2vh;
        margin-bottom: 2vh;
        line-height: normal;
        font-size: 25pt;
        font-weight: bold;
        color: #222;
        text-align: left;
    }
}

.titlep{
    width: 80%;
    text-align: center;
    font-size: large;
    line-height: normal;
}

