/* Reset di base per uniformità su tutti i browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale per il corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Titolo principale */
h1 {
    font-size: 2.5rem;
    color: #4A90E2;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Etichetta e menu a tendina */
label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:hover, select:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Contenitore principale */
#letterContent {
    margin-top: 30px;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titolo della lettera */
#letterName {
    font-size: 2rem;
    color: #4A90E2;
    margin-bottom: 15px;
}

/* Testo della lettera */
#letterText {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

/* Immagine della lettera */
#letterImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Audio */
#letterAudio {
    margin-top: 20px;
    width: 100%;
}

/* Footer */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
}

footer p {
    margin: 10px 0;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #2c3e50; /* Grigio scuro elegante */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
    
  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .logo {
    max-width: 60px; /* Limita la larghezza del logo */
  }

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    #letterContent {
        padding: 15px;
    }

    #letterText {
        font-size: 1rem;
    }
}


.menu-items {
    display: flex;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 5px;
  }
    
  .menu-items li {
    margin: 0 15px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #ecf0f1; /* Bianco brillante */
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .menu-items a:hover {
    background-color: #375966; /* Verde menta */
  }
  
  .hamburger-lines {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
  }
  
  .hamburger-lines .line {
    width: 30px;
    height: 3px;
    background-color: #ecf0f1; /* Bianco brillante */
    border-radius: 3px;
  }
  
  .checkbox {
    display: none;
  }
  
  .checkbox:checked ~ .menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2c3e50; /* Grigio scuro elegante */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .hamburger-lines {
      display: flex;
    }
  
    .menu-items {
      display: none;
      flex-direction: column;
    }
  
    .menu-items li {
      margin: 10px 0; /* Maggiore spaziatura tra gli elementi su mobile */
    }
  }
  
  /* Hero Section */
  .hero-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
    flex: 1;
  }
  
  .hero-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .hero-text {
    margin-top: 20px;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    color: #012e40; /* Grigio scuro */
  }
  
  .hero-text h3 {
    font-size: 1.2rem;
    color: #34495e; /* Grigio medio */
  }
  
  /* Footer */
  footer {
    background-color: #012e40; /* Grigio scuro */
    color: #ecf0f1; /* Bianco brillante */
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    margin-top: auto;
  }
  
  footer a {
    color: #375966; /* Verde menta */
    text-decoration: none;
    margin-left: 5px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 500px) {
    .logo {
      max-width: 100px; /* Riduce il logo per schermi più piccoli */
    }
  
    .hero-text h1 {
      font-size: 1.8rem;
    }
  
    .hero-text h3 {
      font-size: 1rem;
    }
  }
  


  @media (max-width: 1200px) {
    header {
        padding: 10px 0;
        /* Riduce il padding per risparmiare spazio */
    }

    header h1 {
        font-size: 1.5rem;
        /* Riduce la dimensione del font su schermi più piccoli */
    }

    #search-container {
        position: static;
        /* O 'relative' a seconda delle tue esigenze */
        margin-top: 10px;
        /* Aggiunge spazio sopra il form di ricerca */
        width: 100%;
        /* Fa occupare al form l'intera larghezza */
        box-sizing: border-box;
        /* Assicura che il padding non influisca sulla larghezza */
    }

    #search-form {
        flex-direction: column;
        /* Impila input e bottone verticalmente */
        align-items: stretch;
        /* Allarga il bottone e l'input per occupare tutto lo spazio orizzontale */
    }

    #search-input,
    #search-form button {
        width: auto;
        /* Permette ai figli di espandersi */
        margin: 5px;
        /* Riduce il margine */
    }

    .button-container {
        justify-content: center;
        /* Centra i bottoni se lo spazio è ridotto */
        flex-wrap: wrap;
        /* Permette ai bottoni di andare a capo */
    }

    .button {
        width: 100px;
        /* Riduce la dimensione dei bottoni */
        height: 100px;
        /* Riduce la dimensione dei bottoni */
        margin: 5px;
        /* Riduce lo spazio intorno ai bottoni */
    }
}

.custom-color-link {
    color: white;
}