
body{ 
    background-color: #012e40;
    font-family: 'Source Sans Pro', sans-serif; 
    color: whitesmoke;
    width: 100vw; 
}

a{
    text-decoration: none;
}

.Titolo{
    margin-top: 20px;
    color: whitesmoke; 
    font-family: 'Trocchi', serif; 
    font-size: 50px; 
    font-weight: normal;
    line-height: 48px;
    overflow: hidden;

}

.home-button {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0;
    float: left;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    align-items: center;
    background-color: #040303;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 10vh;
    box-shadow: 0px 0px 4vh 8vh #012736;
}

/* test */

#mobile-box {
    width: 360px;
}
  
.card {
-webkit-border-radius: 10px;
border-radius: 10px;
}

.card .view {
-webkit-border-top-left-radius: 10px;
border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.card h5 a {
color: #0d47a1;
}

.card h5 a:hover {
color: #072f6b;
}

#pButton {
float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}

/*-----------------------------
header
-----------------------------*/

.header{background: #012e40}
.header__logo{color:whitesmoke; float:left;display: block;padding:20px;text-decoration: none; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.header__menu{float:right;margin:0; padding:0; }
.header__menu__item{display: inline-block; }
.header__menu__item a{color:whitesmoke;display: block;padding:20px;text-decoration: none;  }
.header__menu__item a:hover{background: #000 }
.header__icon-bar{display: block;float: right;padding-top:4vh; padding-left: 1vw; display: none; margin-right:40px; margin-left: 30px;}
.header__icon-bar span{display: block;height:3px; width: 30px;background: whitesmoke; margin-bottom: 5px;}

header{
    margin-top: 10px;
    float: left;
    width: 100%;
    /* padding-left: 5vW; */
    height: 10vh;
}

.list{
    height: 75vh;
    margin-top: 0px;
    margin-left: 1vw;
    margin-right: 1vw;
 
}
.list-element{
    background-color: #375966;
    height: 7vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;   
    margin-right: 1vw;  
    padding-top: 0.3vw;
    padding-left: 2.5vw;
    color: whitesmoke;
    font-weight: normal;
    text-align:  left;
    vertical-align: middle;
    font-family: 'Trocchi', serif; 
    font-size: 3vh;
    line-height: 55px;
}

div .scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

div ::-webkit-scrollbar{
    background: #012e40;
}

div ::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 4px;
}

.play-button{
    width: 4vw;
    height: 3vw;
    float: right;
}

.playing{
    margin-top: 1vh;
    height: 75vh;
    margin-left: 2vw;
    margin-right: 3vw;
    background-color: #375966;
}

.player{
    float: left;
    clear: none;
    background-color: #040303;
}

.timeline{
    clear: none;
    width: 60%;
    height: 100%;
    background-color: #040303;
}

.timeline span svg{
    width: 45%;
    height: 45%;
    line-height: 100%;
    vertical-align: middle;
    margin-top: 1.7vh;
}

.shuffle span svg{
    width: 21.5%;
    height: 21.5%;
    line-height: 100%;
    margin-left: 2vw;
    vertical-align: middle;
    margin-top: 1.7vh;
}

.lettera{
    font-size: 20vh;
    text-align: left;
    margin-left: 3vw;
}

.lettera-testo{
    font-size: 16px;
    text-align: justify;
    margin-left: 3vw;
    margin-right: 3vw;
}

.time{
    clear: none;
    width: 20%;
    height: 100%;
    background-color: #040303;
}

.time p{
    height: 100%;
    font-size: 2.5vh;
    line-height: 100%;
    vertical-align: middle;
    margin-top: 10%;
}


.shuffle{
    clear: none;
    width: 20%;  
    background-color: #040303;
}

.header__menu{
    display: none;
    background-color: #012e40;
}


@media (min-width: 998px){


    #Text-div{
        margin-left: 0em;
    }

    header{
        /* padding-left: 5vW; */
        padding-right: default;
    }


}



/*-----------------------------
Tablet
-----------------------------*/
@media (max-width: 998px){

    #Menu-Container{
        display: none;
    }
  
    .header__menu{
        display: block;
    }

    #Text-div{
        margin-left: 3.5em;
        font-size: 10px;
        height: 85vh;
    }

    header{
        /* padding-left: 1vw; */
        padding-right: 1vw;
    }

    div .scroll {
        margin-top: 10vh;
    }
}

.header__menu__item a{
    color: whitesmoke;
    
    
}



/*-----------------------------
Smartphone
-----------------------------*/
@media (max-width: 998px){

	.header{position:fixed; z-index: 100;width:100%}
	.header__icon-bar{display: block; }

	.header__menu{width:100%;height:0px; overflow: hidden;}
	.header__menu__item{  display: block;}
	.is-open{width: 30%; height:40vh; overflow: auto; position:absolute; right: 0; top:10vh; text-align: center; }

    .header__menu::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .header__menu {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

}


/* clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media(max-height: 550px){
    span .play-button{display: none;}
}


.play-button:hover {
    width: 20%;
    /* background-color: rgba(255, 255, 255, 0.039); */
}
